<!-- views/signup.ejs -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Signup Page</title>

        <link rel="stylesheet" href="css/signup.css" />
        <link rel="icon" href="/assets/favicon.ico" type="image/x-icon" />
    </head>
    <body>
        <h1 class="hello">Signup</h1>
        <form method="post" action="/">
            <label for="fullname">FullName:</label>
            <input type="text" id="fullname" name="fullname" required />
            <label for="email">Email:</label>

            <input type="email" id="email" name="email" required />
            <p id="emailerr"></p>
            <p id="sameemail"><%= error %></p>

            <label for="password">Password:</label>

            <input type="password" id="password" name="password" required />

            <label for="confirmpassword">Confirm Password:</label>
            <input
                type="password"
                id="confirmPassword"
                name="confirmpassword"
                required
            />
            <p id="passerr"></p>

            <% if (error) { %>
            <div class="error-message"><%= error.email %></div>
            <% } %>
            <br /><br />

            <br />
            <button type="submit">Sign up</button>
        </form>
        <p>Already have an account? <a href="/login">Login</a></p>
        <!-- <script src="/middleware/validation.js"></script> -->
        <script src="/js/validation.js"></script>
    </body>
</html>
