body {
    font-family: 'Arial', sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
}

header {
    background-color: #317773;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;

}



.logout-button{
    text-decoration: none;
    background-color: #4caf50;
    color: #fff;
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
 margin-left: 1150px;
 
    cursor: pointer;
}


main {
    max-width: 1200px;
    margin: 20px auto;
}

.product-list {
    text-align: center;
}

.product-grid {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.product-item {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin: 10px;
    padding: 15px;
    width: 250px; /* Decreased width */
    /* height: 350px; Decreased height */
    min-height: 350px;
    text-align: center;
}

.product-item img {
    max-width: 100%;
    height: 150px; /* Fixed height for images */
    object-fit: cover; /* Ensure images maintain aspect ratio within fixed height */
    border-radius: 8px; /* Optional: Add border-radius to images */
}

.product-item h3 {
    margin-top: 10px;
    color: #333;
}

.product-item p {
    color: #555;
    text-align: start;
}

.price {
    display: block;
    margin-top: 10px;
    color: #4caf50;
    font-weight: bold;
}

.product-actions {
    margin-top: 15px;
}

